%h2 One Ruby <strong>Gem</strong> = easy EC2 computing cloud.

.tout
  %p.alt <strong>EC2</strong> is a computing cloud provided by <strong>Amazon</strong>. Unfortunately it doesn't do everything.
  %p.alt Pool Party does everything. Why? Because God said so.

%p 
  "I'm convinced, how do I get started?"
  %code gem install pool-party

%p 
  "Okay, are there examples or documentation?" 
  %span.alt Duh! <a href="#">Docs</a> & <a herf="#">Examples</a>