%h1 PoolParty

%h3 Run an entire application off the ec2 cloud effortlessly. Instantly

%p 
  %a{:href => "http://blog.xnot.org"} Ari Lerner
%p 
  %a{:href => "http://nicolassanguinetti.info/"} Nicolas Sanguinetti
%a{:href => "http://blog.citrusbyte.com"} http://blog.citrusbyte.com
