##### mongrel 80 #####
check process sinatra-4567 with pidfile /apps/poolparty-test/server.4567.pid 
    start program = "/etc/init.d/sinatra start"
    stop program = "/etc/init.d/sinatra stop"

    # if totalmem is greater than 10.5 MB for 5 cycles then restart       # eating up memory?
     if cpu is greater than 50% for 2 cycles then alert                  # send an email to admin
    if cpu is greater than 80% for 3 cycles then restart                # hung process?
    if loadavg(5min) greater than 10 for 8 cycles then restart          # bad, bad, bad
    #if 3 restarts within 5 cycles then timeout                         # something is wrong, call the sys-admin

    if failed port 4567 protocol http                   # check for response
        with timeout 10 seconds
        then restart 
    group sinatra
