
%h2 One Ruby <strong><a href="http://github.com/citrusbyte/pool-party/tree/master">Gem</a></strong> = easy EC2 computing cloud.

.tout
  %p.alt Amazon's Elastic Compute Cloud provides pay-per-use scalability to the masses.  However, clouds do not have innate load-balancing ability, and there is no native failover solution.
  %p.alt Pool Party is an <strong>open source</strong> tool that <strong>automates</strong> deployment, monitoring, and load balancing of EC2 instances.  Configure once, and relax by the poolside -- Pool Party will keep your site and its instances afloat.

%p 
  "I'm convinced, how do I get started?"
  %code gem install pool-party

%p
  "Okay, are there examples or documentation?" 
  %span.alt 
    Duh! 
    = link "Docs", '#'
    &
    = link "Examples", '#hi'
    